.completed__container {
  background-color: #fff;
  padding: 2rem;
  width: 95%;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

.completed-todos {
  display: flex;
  flex-direction: column;

  width: 100%;
}
